*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: url("./image/image.jpeg");
    background-size: cover;
    background-position: center;
}
@media screen and (max-width:768px){
    body{
        
    }
}